{% extends 'base.html.twig' %}

{% block title %}Вход в систему{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="mb-4">Вход в систему</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" name="_username" id="username" class="form-control" value="{{ last_username }}" required autofocus>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" name="_password" id="password" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="{{ path('app_register') }}" class="btn btn-link">Регистрация</a>
        </form>
    </div>
</div>
{% endblock %} 