{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1>Добро пожаловать в {{ title }}</h1>
            <p class="lead">Ваш надежный партнер по доставке</p>
        </div>
    </div>
</div>
{% endblock %} 